.cabecalho{
    width: 90vw;
    height: 80px;

    position: sticky;
    top: 0.1px;
    left: 0.1px;
    z-index: 999;
    text-align: center;
    vertical-align: middle;
    opacity: 0.9;

    background-color: red;
    border: 1px sold whitesmoke;
    border-radius: 5px;
}

.secaosticky{
    width: 90vw;
    height: 100vh;
    /* margin: 10px; */

    background-color: rgb(148, 148, 148);
    border-radius: 15px;
}

.quadradosticky{
    width: 150px;
    height: 150px;
    margin: 10px;

    position: sticky;
    left: 1px;
    top: 1px;

    background-color: aqua;
    background-image: url("https://static.nationalgeographicbrasil.com/files/styles/image_3200/public/senna_divulgacao-gov-bra--1-.jpeg.webp?w=1600&h=1067&p=top");
    background-position: center top;
    background-size: 300px;
    background-repeat: no-repeat;
    border: 3px solid black;
    border-radius: 15px;
}

.secaopai{
    width: 90vw;
    height: 110vh;
    background-color: gray;
 
 
    border: solid 3px black;
    border-radius: 5px;

    position: relative;
}

.filhor{
    width: 12.5vw;
    height: 25vh;

    position: relative;
    /* top: 10px;
    left: 20px;  */
    margin: 5px;

    
    background-color: lightpink;
    border: 2px solid black;
    border-radius: 5px;
}

.filhoa{
    width: 12.5vw;
    height: 25vh;

    position: absolute;
    bottom: 10px;
    right: 5px;
    /* margin:5px; */

    background-color: lightpink;
    border: 2px solid black;
    border-radius: 5px;
}

.bolazap {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 30px ;

    background-image: url("https://static.vecteezy.com/system/resources/previews/018/930/564/non_2x/whatsapp-logo-whatsapp-icon-whatsapp-transparent-free-png.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: lightgreen;
    border-radius: 50%;
}

.bolainsta {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 100px;

    background-image: url("https://t.ctcdn.com.br/-6EHXHANF1lqTcXznSi04LTgQUA=/600x600/smart/i595162.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: lightgreen;
    border-radius: 50%;
}